
<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".2s"> 
    <span class="work-list-left pull-left">
            <img alt="work image" src="<%= work.primaryImage %>" class="work-list-primary-img"> 
            <img alt="work image" src="<%= work.secondaryImage %>" class="work-list-secondary-img">
    </span> 

    <span class="work-list-right pull-left">
        <span class="work-list-name h3"><%= work.title %></span>
    </span>
    
</li>
