<div class="swiper-slide" style="background: url(<%= banner.image %>);">
    <h2 class="home-slider-title-main">
        <%= banner.title %>
    </h2>
    
    <div class="home-buttons text-center"> 
        <a href="<%= banner.ctaLink %>" class="btn btn-lg  btn-primary">
            <%= banner.ctaText %>
        </a> 
    </div>
    
    <a class="arrow bounce text-center" href="#about"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
</div>