
<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".2s"> 
    <span class="work-list-left pull-left">
        <a href="#" data-target="#work-01" data-toggle="modal">
            <img alt="work image" class="work-list-primary-img" src="{{ primaryImage }}"> 
            <img alt="work image" class="work-list-secondary-img" src="{{ secondaryImage }}">
        
</a>
    </span> 
    <!-- <a href="#" data-target="#work-01" data-toggle="modal"> -->
        <span class="work-list-right pull-left">
            <span class="work-list-name h3">{{ title }}</span>
        </span>
    <!-- </a>  -->

    <!-- <button type="button" class="btn btn-default add-item" data-image="img/work3.png" data-name="Chocolate desire" data-cost="400.00" data-id="1" >
        <span class="ti-shopping-cart"></span>add to cart
    </button> 		 -->

    
<content></content>
    
</li>
