<!DOCTYPE html>
<html lang="en-GB">

<head>
	<meta charset="utf-8">

	<title>RT Halliday Stonework, Masonry &amp; Construction | {{ pageTitle }}</title>
	<meta property="og:title" content="RT Halliday Stonework, Masonry &amp; Construction | {{ pageTitle }}">
	<meta property="og:site_name" content="RT Halliday Stonework">
	<meta name="description" content="RT Halliday Stonework: Dry Stone and Mortar Core Walling, Stone Facing, Landscaping and general building">
    <meta property="og:description" content="RT Halliday Stonework: Dry Stone and Mortar Core Walling, Stone Facing, Landscaping and general building">
    
    <each loop="item, index in images">
        <meta property="og:image" content="{{ item }}">        
    </each>

	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="width=device-width" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

	<link href="css/bootstrap-light.css" rel="stylesheet">
	<!-- <link id="pagestyle" href="css/theme-light.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="./scss/theme-light.scss">
	

	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-29668683-1" type="text/javascript"></script>
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'UA-29668683-1');
	</script>

		
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="apple-mobile-web-app-title" content="RT Halliday Stonework">
	<meta name="application-name" content="RT Halliday Stonework">
	<meta name="theme-color" content="#ffffff">
	<meta name="author" content="The Pixel Forge">
		
</head>

<body data-offset="50" data-spy="scroll" data-target=".navbar">
    
    <module href="Navigation.html">
    </module>

    <content></content>
	
	<div class="section section-min">
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 col-md-push-4 text-center"> <img class="footer-logo" src="img/logo-black.png" alt="footer-logo">
								<div class="social">
									<ul>
										<li><a href="http://facebook.com/" target="_blank"><span class="ti-facebook"></span></a></li>
										<li><a href="https://twitter.com/" target="_blank"><span class="ti-twitter-alt"></span></a></li>
										<li><a href="http://linkedin.com/" target="_blank"><span class="ti-linkedin"></span></a></li>
										<li><a href="https://vimeo.com/" target="_blank"><span class="ti-vimeo-alt"></span></a></li>
										<li><a href="http://youtube.com/" target="_blank"><span class="ti-youtube"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 col-md-offset-4 col-sm-12">
								<div class="footer-newsletter">
									<div class="center text-center">
										<h4>stay tuned</h4>
										<form action="#" method="post">
											<div class="input-group">
												<input class="form-control" type="text" placeholder="e-mail"> 
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" type="button"><span class="ti-arrow-right"></span></button>
												</span>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</footer>
    </div>
    
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

	<script src="js/vendor/wow.js"></script>
	<script src="js/vendor/jquery-1.11.2.min.js"></script>
	<script src="js/vendor/swiper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/jquery.countTo.js"></script>
	<script src="js/vendor/jquery.inview.js"></script>
	<script src="js/vendor/jquery.countdown.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g"></script>
	<script src="js/main.js"></script>
</body>
</html>